body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #2a75c5;
}

h1 {
  color: #26c706;
}

p {
  font-size: 18px;
  color: #11c720;
}


.bold-text {
    font-weight: bold; /* Makes the text bold */
    font-size: large;
    color: rgba(219, 7, 7, 0.808);
}