
html,body{
  height:100%;
  margin:0;
}

body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: rgb(51, 184, 236);
}

h2 {
  color: rgb(181, 30, 219);
}

p {
  font-size: 18px;
  color: rgb(238, 255, 0);
}

/* bold-text kept as requested */
.bold-text {
  font-weight: bold;
  font-size: 50px;
  color: red;
}
.notification {
  font-size: 40px;
  color: rgb(21, 7, 224);
  font-display: block;
}